#app {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  font-weight: normal;
  background: #777777;

  width: fit-content;

  display: flex;
  flex-direction: column;

}

a,
.green {
  text-decoration: none;
  color: rgb(15, 18, 17);
  transition: 0.4s;
  padding: 3px;
}



body {
  background: #333333;
  display: flex;

}

.app-wrapp {
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin: 0;
}

#app {
  display: flex;
  align-self: stretch;
  max-width: 80%;
}



.countrytable__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.countrytable__th,
.countrytable__td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.countrytable__th {
  background-color: #8d9d8d;
  font-weight: bold;
}

.countrytable__tr:nth-child(even) {
  background-color: #b3b0b0;
}

.countrytable__ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}